* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/*header*/

header {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

header img {
    height:20%;
    width: 70%;
    padding-top: 15px;
    padding-left: 25px;
    
}
.header-div {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
   
}
.header-div nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    white-space: nowrap;
    gap: 25px;

}
.header-div nav ul li {
    list-style-type: none;   
    font-size: x-large;
    font-weight: 700;
}
 .header-div nav ul li a {
    text-decoration: none;
    flex-direction: row;
    color: brown;
 }

 .header-div nav ul li a:hover{
    text-decoration: underline
 }


/*contacto*/

main {
    background-image: url(./imagenes2/fondo.jpg);
    text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

main {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 
 h2 {
    color: rgb(4, 21, 53);
    font-size:xx-large;
    padding-top: 20px;
}

form {
   padding: 15px 55px;
   box-shadow: 0 0 20px rbga(0 0 0 0.2)  ;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   text-align: center;
  
}

.formulario-contacto1 {
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0;
}

.formulario-contacto1 input ,textarea:focus {
    outline-color: rgb(38, 38, 223);
}


label {
    color: rgb(4, 21, 53);
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    text-align: left;
}

input ,textarea {
 padding: 10px 20px;
 border-radius: 50px;
 background-color: rgb(245, 238, 229);
 border: 2 px solid rgb(219, 213, 205);
 color:rgba(4, 12, 128, 0.918);
 
}

textarea {
    border-radius: 30px;
    margin-top: 10px;}

input::placeholder, textarea::placeholder {
    color: rgba(4, 42, 122, 0.918);
}

.select-box {
    display: inline-flex;
    margin: 5px 5px;
}
 .select-box p {
    color: rgb(165, 172, 212);
    padding-right: 10px;
    text-align: center;
}
    
select {
    border-radius: 10px;
    color: rgb(6, 6, 82)
}

.check-box {
    margin-top: 15px;
    text-align: left;

}
.check-box label {
    color: rgb(165, 172, 212);
    font-size: 16px;
    font-weight: lighter;
}

.btn {
   font-weight: bold;
    font-size: 1.2em;
    width: 100%;
    color: rgb(4, 21, 53);
    border-radius: 25px;
    padding: 10px;
}

.btn:hover {
    cursor: pointer;
}

.btn:disabled{
    background: antiquewhite;
    color: brown;

}

.error-text {
    color: brown;
}

.formulario-contacto1 .form-error input{
border-bottom: 2px solid red;
}

.formulario-contacto .form-success .error-text {
    visibility: hidden;
}

.formulario-contacto .form-error .error-text {
    visibility: visible;
}

.formulario-contacto1 .form-success input {
    border-bottom: 2px solid blue;
}

/*footer*/
footer {
    background-color: bisque;
    font-weight: 600;
    font-size: small;
    color: brown;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
   text-align: justify ;
}

footer p {
    padding-top:50px ;
    padding-bottom: 50px;
}
.redes-sociales p { 
    padding-bottom: 0;
}

.redes-sociales  {
    size: 50px;
}
.bi {
    color: black;
}