* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
/*header*/

header {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

header img {
    height: 180px;
    width: 600px;
    padding-top: 15px;
    padding-left: 25px;
    
}
.header-div {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
   
}
.header-div nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    white-space: nowrap;
    gap: 25px;

}
.header-div nav ul li {
    list-style-type: none;   
    font-size: x-large;
    font-weight: 700;
}
 .header-div nav ul li a {
    text-decoration: none;
    flex-direction: row;
    color: brown;
 }

 .header-div nav ul li a:hover{
    text-decoration: underline
 }

 main {
    background-image: url(./imagenes2/fondo.jpg);
    text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;  
    justify-content: space-around;
}

main::before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(240, 248, 255, 0.493);   
}

.div-index{
    position: relative;
    opacity: 1;
    color: rgb(138, 19, 19);
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: 500; 
}

.index-mapa {
    position: relative;
    opacity: 1;
}

.index-mapa p {
    font-weight: 500;
    font-size: larger;
    color: brown;
}

/*footer*/
footer {
    background-color: bisque;
    font-weight: 600;
    font-size: small;
    color: brown;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
   text-align: justify ;
}

footer p {
    padding-top:50px ;
    padding-bottom: 50px;
}
.redes-sociales p { 
    padding-bottom: 0;
}

.redes-sociales  {
    size: 50px;
}
.bi {
    color: black;
}

/*index*/



/*destinos*/



/*ofertas*/



/*main {
    background-image: url("./imagenes2/fondo.jpg");
    text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

main::before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(240, 248, 255, 0.404);   
}*/